.item {
  background-color: $lightest-grey;
  text-align: center;
  border: 3px solid $black;
  border-radius: 8px;
  margin: 20px 0;
  padding: 10px;
  width: 95%;
  overflow-x: auto;
  position: relative;

  a {
    display: inline-block;
    border: 3px solid transparent;
    padding: 3px;
  }

  .active {
    border: 3px solid $red;
    border-radius: 5px;
  }

  .add-item {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    background-color: $green;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
  }

  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    margin: 0 5px 16px 0;
  }

  img {
    width: 60px;
  }

  div {
    background-color: #fff;
    border: 3px solid $black;
    border-radius: 8px;
    padding: 10px;
  }

  .item-detail {
    border: none;
    background-color: transparent;
    position: relative;

    div {
      border: none;
      background-color: transparent;
    }

    h2 {
      display: inline;
    }

    .delete-item {
      display: inline-block;
      vertical-align: top;
      color: $red;
      background-color: transparent;
      cursor: pointer;
      border: none;
      font-size: 14px;
    }
  }
}

@media all and (min-width: 450px) {
  .item {
    width: 350px;
  }
}
